11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [3]:
#11.1 and 11.2

import zoo as menagerie
hour = menagerie.hours()

Open 9-5 daily

In [4]:
#setup for 16.8
import sqlite3
connection = sqlite3.connect('books.db')
cursor = connection.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS books (title TEXT,author TEXT,year INTEGER)""")
connection.commit()
connection.close()

In [6]:
#more setup
import sqlite3
connection = sqlite3.connect("books.db")
cursor = connection.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC")
for row in cursor.fetchall():
    print(row[0])
connection.close()

In [7]:
#16.8
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///books.db")
with engine.connect() as connection:
    result = connection.execute(text("SELECT title FROM books ORDER BY title ASC"))
    for row in result:
        print(row.title)